.firebase
.firebaserc
node_modules
resources
venv
.Dockerignore
.gitignore
.env
all_data.csv
cloudbuild.yaml
firebase.json
key.json
package-lock.json
package.json
config/gcloud_image.py.py
classifiers/gcloud/gcloud.py
classifiers/gcloud/recyclable_type.py
classifiers/automl/csv_maker.py
classifiers/automl/evaluate.py
classifiers/automl/initializer.py
classifiers/automl/populate.py
classifiers/automl/prediction.py
classifiers/automl/train.py
classifiers/automl/tulip-divisions.jpg
