# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/recycler.iml
key.json
server/templates/
venv/
.firebase/
.firebaserc
__pycache__
firebase.json
node_modules/
package-lock.json
package.json
server/resources/
.env
