# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/recycler.iml
key.json
static/
server/src/templates/
venv/
